body
    background: #eaeaea
    margin: 0
    height: 100vh
    font-family: Arial
    letter-spacing: -0.2px
.header
    background: #333333
    height: 50px
    display: flex
    align-items: center
    justify-content: center
    color: #fff
    font-size: 18px
    font-family: Arial
    letter-spacing: -0.2px
    &.left
        justify-content: start
        padding-left: 15px
        a
            appearance: auto
            color: #fff
            text-decoration: none
            .fa-arrow-left
                margin-right: 15px

.subs_options
    display: flex
    align-items: center
    justify-content: center
    height: 50px
    span
        color: #7d7d7d
        font-size: 18px
        font-weight: bold
        &.active
            color: #000
    .switch
        display: inline-block
        height: 30px
        position: relative
        width: 56px
        margin: 0 10px 0 10px
        input
            display: none
            &:checked + .slider:before
                transform: translateX(24px)
        .slider
            background-color: #fff
            border: solid 1px #ccc
            bottom: 0
            cursor: pointer
            left: 0
            position: absolute
            right: 0
            top: 0
            transition: .4s
            &:before
                background-color: #333333
                bottom: 1px
                content: ""
                height: 26px
                left: 2px
                position: absolute
                transition: .4s
                width: 26px
            &.round
                border-radius: 34px
                &:before
                    border-radius: 50%

.content_desc
    background: #fff
    width: 80vw
    margin: 0 auto 0 auto
    max-width: 500px
    .header_desc
        border-bottom: solid 1px #ccc
        padding: 15px
        text-align: center
        .price
            display: flex
            align-items: flex-end
            justify-content: center
            span
                font-size: 80px
                display: contents
                &:first-child
                    font-size: 50px
                &:last-child
                    font-size: 20px
        .desciption
            font-size: 15px
    .body_desc
    .footer_desc
        height: 40px
        width: 100%
        a
            width: 100%
            height: 100%
            color: #fff
            background: #000
            appearance: auto
            display: flex
            align-items: center
            justify-content: center
            text-decoration: none
.list
    list-style-type: none
    padding: 20px
    margin: 0
    .item
        margin-bottom: 10px
        display: flex
        color: #cecece
        font-size: 15px
        .fa-check
            margin-right: 10px
            font-size: 12px
        &.active
            color: #767676
.content_data
    width: 80vw
    max-width: 500px
    margin: 30px auto 30px auto
    .container_option
        width: 100%
        display: flex
        flex-wrap: wrap
        justify-content: space-between
        margin-bottom: 20px
        position: relative
        svg
            position: absolute
            right: 10px
            top: 30px
            font-size: 25px 
        .optDate
            display: flex
            border: solid 1px #d9d9d9
            background: #fff
            input
                width: 50%
                border: none
                outline: none
                text-align: center
            span
                font-size: 20px
                height: 40px
                display: flex
                align-items: center
                font-family: var(--font-formulary)
                padding: 0 8px
        label
            width: 100%
            color: #000
            font-size: 14px
            font-weight: bold
            margin-bottom: 5px
            font-family: Arial
            letter-spacing: -0.2px
        input
            width: -webkit-fill-available
            height: 40px
            border: solid 1px #d9d9d9
            font-size: 15px
            padding: 0 10px
        .half
            width: 45%
    button
        width: 100%
        height: 50px
        font-size: 16px
        font-weight: bold
        background: #000
        color: #fff
        border: none
    &.center
        text-align: -webkit-center
        font-family: Arial
        color: #000
        letter-spacing: -0.2px
        margin-top: 40px
        .check
            width: 100px
            height: 100px
            background: #fff
            border-radius: 50%
            .fa-check
                font-size: 70px
                padding: 15px
                color: #767676
        .desc
            font-size: 13px
            color: #767676
            margin-bottom: 40px

        h5
            color: #000000
        h3
            color: #333333
            margin-top: 10px
        h4
            text-decoration-line: underline
        h2
            margin-bottom: 0px
.footer_conf
    position: absolute
    bottom: 0
    display: flex
    left: 0
    right: 0
    justify-content: center
    padding: 20px
    span
        font-family: Arial
        font-size: 13px
        font-weight: bold
        color: #333333
        text-decoration-line: underline
        letter-spacing: -0.1px

.footer_info
    background: #fff
    padding: 20px 30px
    position: fixed
    bottom: -270px
    transition: 1s
    .btn_plan
        cursor: pointer
        text-align: center
        text-decoration-line: underline
        background: #ffffff
        position: fixed
        bottom: 0
        left: 0
        right: 0
        padding: 15px
        font-size: 14px
        letter-spacing: -0.4px
        font-family: Arial
    .content_info
        padding-bottom: 15px
        .title
            font-size: 20px
            display: flex
            justify-content: space-between
            font-weight: bold
            color: #000
            margin-bottom: 10px
            cursor: pointer
            font-family: Arial
            letter-spacing: -0.4px
            span
                font-size: 18px
                color: #333333
                font-family: Arial
                font
        .desc
            color: #767676
            font-size: 15px
        .list
            padding: 15px 0
    &.active
        bottom: 0
.container_Info
    height: 100vh
